@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/91e0638dac19aba2539d2b8b2a7981e8?family=GT+Walsheim+Bold);
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 98%;
    --muted-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 152 100% 36.9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 223 100% 62%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

/* Our Primary Fonts */

@font-face {
  font-family: 'GT Walsheim Light';
  src: url('https://db.onlinewebfonts.com/t/6d7bf85888fc8ef4357e0a27a0db8ce6.eot');
  src: url('https://db.onlinewebfonts.com/t/6d7bf85888fc8ef4357e0a27a0db8ce6.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/6d7bf85888fc8ef4357e0a27a0db8ce6.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/6d7bf85888fc8ef4357e0a27a0db8ce6.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/6d7bf85888fc8ef4357e0a27a0db8ce6.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/6d7bf85888fc8ef4357e0a27a0db8ce6.svg#GT Walsheim Light')
      format('svg');
}
@font-face {
  font-family: 'GT Walsheim Bold';
  src: url('https://db.onlinewebfonts.com/t/91e0638dac19aba2539d2b8b2a7981e8.eot');
  src: url('https://db.onlinewebfonts.com/t/91e0638dac19aba2539d2b8b2a7981e8.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/91e0638dac19aba2539d2b8b2a7981e8.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/91e0638dac19aba2539d2b8b2a7981e8.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/91e0638dac19aba2539d2b8b2a7981e8.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/91e0638dac19aba2539d2b8b2a7981e8.svg#GT Walsheim Bold')
      format('svg');
}

@font-face {
  font-family: 'GT Walsheim Medium';
  src: url('https://db.onlinewebfonts.com/t/d09523bf42fc76f52b44ac8b58415ae3.eot');
  src: url('https://db.onlinewebfonts.com/t/d09523bf42fc76f52b44ac8b58415ae3.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/d09523bf42fc76f52b44ac8b58415ae3.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/d09523bf42fc76f52b44ac8b58415ae3.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/d09523bf42fc76f52b44ac8b58415ae3.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/d09523bf42fc76f52b44ac8b58415ae3.svg#GT Walsheim Medium')
      format('svg');
}

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url('https://db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.eot');
  src: url('https://db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.svg#GT Walsheim Regular')
      format('svg');
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white dark:bg-gray-900 text-foreground;
  }
  .data-\[state\=active\]\:bg-white[data-state='active'] {
    @apply !bg-primary;
  }

  h1 {
    @apply font-bold font-primaryBold;
  }

  h2 {
    @apply font-bold font-primaryMedium;
  }

  h3 {
    @apply font-bold font-primary;
  }

  h4 {
    @apply font-bold font-primaryLight;
  }

  p {
    @apply font-primary;
  }

  a {
    @apply text-primary hover:text-primary/80;
  }
}

@layer components {
}

@layer utilities {
}
